@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  /* background: var(--background); */
  font-family: var(--font-geist-sans);
  background-color: #e5e5f7; opacity: 1; background-image: radial-gradient(rgba(68, 76, 247, 0.3) 0.5px, rgba(229, 229, 247, 0.3) 0.5px); background-size: 10px 10px;
  background-attachment: fixed;

}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--space-grotesk), sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--space-grotesk), sans-serif;
}

.tag{
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeft {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-up {
  animation: fadeUp 1s ease-out;
}

.fade-left {
  animation: fadeLeft 1s ease-out;
}